<html>
    <% include ../partials/header %>
    <body class="edit_project">
        <% include ../partials/navigation %>
        <header class="toolbar">
            <div class="backBtn"><a href="/projects/<%= project._id %>"><i class="fa fa-chevron-left "></i></a></div>
        </header>
        <main>
            <form id="edit-project_form" action="/projects/<%= project._id %>?_method=PUT" method="POST">
                <div class="container">
                    <h2>Editing <%= project.projectName %></h2>
                    <small>A project contains all your timestamps. This is used to collect all data for calculating your total time spend on this project.</small>
                    
                    <label for="project-name">Project title</label>
                    <input type="text" placeholder="A project name" id="project-name" name="edit_project_name" value="<%= project.projectName %>" required>
                    
                    <label for="project-description">Project description <span>(optional)</span></label>
                    <textarea placeholder="Project Description" id="project-description" name="edit_project_description"><%= project.projectDescription %></textarea>
                    
                    <input type="submit" value="Edit project">
                </div>
            </form>
            <form  id="remove-project_form" method="POST" action="/projects/<%= project._id %>?_method=DELETE">
                <div class="container">
                    <input type="submit" value="Remove project" class="removeBtn">
                </div>
            </form>
            <% include ../partials/footer %>
        </main>
    </body>
</html>