<html>
    <% include ../partials/header %>
    <body>
        <% include ../partials/navigation %>
        <header class="toolbar">
            <div class="navToggle"><i class="fa fa-bars"></i></div>
        </header>
        <main>
            <!-- NEXT UPDATE: Recent projects, all projects, recently updated(for shared later)? -->
            <ul class="output-grid">
                <% if(projects.length > 0){
                    projects.forEach(function(project){%>
                    <li>
                        <a class="output-grid-item" href="/projects/<%= project._id %>">
                            <span class="total-timing"><i class="fa fa-clock"></i>
                                <% if(Math.floor( project.totalTimeSpend / 86400) > 0){ %> <%= Math.floor( project.totalTimeSpend / 86400) %>D<% } %>
                                <% if(Math.floor((project.totalTimeSpend % 86400) / 3600) <= 9 ){ %>0<% } %><%= Math.floor(( project.totalTimeSpend % 86400) / 3600) %>:<% if(Math.floor((project.totalTimeSpend % 3600) / 60) <= 9 ){ %>0<% } %><%= Math.floor(( project.totalTimeSpend  % 3600) / 60)%>
                            </span>
                            <p class="title"><%= project.projectName %></p>
                            <small class="description"><%= project.projectDescription %></small>
                        </a>
                        <a class="editBtn" href="/projects/<%= project._id %>/edit"><i class="fa fa-cog"></i></a>
                    </li>
                    <% }) %>
                    <li class="create-new">
                        <a class="output-grid-item" href="/projects/new">
                            <i class="fa fa-plus fa-2x"></i>
                            <p>Create a new project!</p>
                        </a>
                    </li>
                <% } else { %>
                    <li class="create-new">
                        <a class="output-grid-item" href="/projects/new">
                            <i class="fa fa-plus fa-2x"></i>
                            <p>We see you don't have any projects setup yet. Click here to create one!</p>
                        </a>
                    </li>
                <% } %>
                <% if(false/*currentUser*/) {       //DEBUG%> 
                    <li>
                        <strong>id</strong>: <%= currentUser._id %><br>
                        <strong>email</strong>: <%= currentUser.username %><br>
                        <strong>password</strong>: <%= currentUser.password %><br>
                        <strong>fullname</strong>: <%= currentUser.fullname %><br>
                        <strong>initials</strong>: <%= currentUser.initials %>
                    </li>
                <% } %>
            </ul>
        </main>
        <% include ../partials/footer %>
    </body>
</html>